.searchTreeWrapper {
  padding: 8px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 1px;
  background-color: #f5f5f5;
  margin-top: 4px;
  
  
}
.searchTreeWrapper .ant-input-affix-wrapper {
  border: 1px solid #bdbdbd;
  padding: 5px 8px;
}
.searchTreeWrapper input::placeholder {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  color: #686868;
}
