.treeWrapper {
  padding: 8px 24px 8px 8px;
  background-color: #f5f5f5;
  border-radius: 0 0 6px 6px;
  height: 327px;
}
.treeWrapper .ant-tree {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
}
.treeWrapper .ant-tree .ant-tree-treenode {
  padding: 5px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}
.treeWrapper .ant-tree .ant-tree-treenode:hover {
  background-color: #f5f5f5;
}
.treeWrapper .ant-tree .ant-tree-treenode:hover:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.treeWrapper .ant-tree .ant-tree-treenode:hover:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.treeWrapper .ant-tree-list-holder-inner .ant-tree-treenode:last-child {
  border-bottom: none;
}
.treeWrapper .ant-tree-switcher {
  align-self: center
}
.treeWrapper .switcherPhenomIcon {
  font-size: 16px;
}
.nodeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nodeWrapper button {
  display: none;
  font-weight: 400;
}
.ant-tree .ant-tree-node-content-wrapper {
  min-height: auto;
  cursor: default;
}
.ant-tree-list-scrollbar {
  margin-right: -16px;
}
.treeWrapper .ant-tree .ant-tree-treenode:hover .nodeWrapper button {
  display: flex;
}
.skeleton-tree .ant-tree.ant-tree-block-node .ant-tree-list-holder-inner .ant-tree-node-content-wrapper {
  flex: auto;
  display: flex;
  align-items: center;
}
.skeleton-tree .ant-tree .ant-tree-treenode {
  padding: 13px 5px;
}
.skeleton-tree .ant-skeleton-paragraph {
  margin-bottom: 0;
}
